<mat-card>
    <mat-card-title>
        Return Book
    </mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Name*</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
        <mat-label>Select Book</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>User Access Id*</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Return Date*</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">Return</button>
          
    </mat-card-content>
</mat-card>