<!-- toolbar -->
<mat-toolbar color="basic">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
            <button mat-button>
                <a routerLink="/"><mat-icon style="color:green;">home</mat-icon></a>
            </button>
            <a mat-button [routerLink]="'/lend'"> Lend </a>
            <a mat-button  [routerLink]="'/return'">Return </a>
            <a mat-button  [routerLink]="'/book'"> Books </a>
        </div>
    <h5>
        <span style="color:green;">Library</span>
      
        <span style="color:black;"> Management</span>
        <span style="color:green;"> System</span>

    </h5>
   
    </mat-toolbar-row>
</mat-toolbar>

<!-- appending pages -->
<router-outlet></router-outlet>

<!-- home page content -->
<h1><mat-icon class="book">menu_book</mat-icon>&emsp;A Library is a place vibrating with ideas&ensp;<mat-icon class="book">menu_book</mat-icon></h1>
<h3>-Nancy Kunhardt Lodge</h3>

<!-- button content -->
<br>
<a routerLink="/lend"><button mat-raised-button class="lend" color="basic">Lend Book</button></a>

<a routerLink="/return"><button mat-raised-button class="return" color="basic">Return Book</button></a>