<!-- toolbar -->
<mat-toolbar color="basic">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
            <button mat-icon-button>
                <a routerLink="/"><mat-icon color="accent">home</mat-icon></a>
            </button>
            <a mat-button color="accent"[routerLink]="'/lend'"> Lend </a>
            <a mat-button color="accent" [routerLink]="'/return'">Return </a>
            <a mat-button  color="accent" [routerLink]="'/book'"> Books </a>
        </div>
        <h5>Library Management System</h5>
    </mat-toolbar-row>
</mat-toolbar>

<!-- appending pages -->
<router-outlet></router-outlet>